name: Test

on: [push, pull_request]

env:
  ENV_FILE: .env.test
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build
      - uses: ./.github/actions/docker-compose
      - name: Wait for PostgreSQL
        run: sleep 5
      - name: Apply Prisma schema
        run: npm run db:push:test
      - name: Run tests
        run: npm run test
